<h3>All your mail merges</h3>

<table>
  <tr>
    <th>Subject template</th>
    <th>Body template</th>
    <th></th>
  </tr>

<% @mail_merges.each do |mail_merge| %>
  <tr>
    <td><%= mail_merge.subject_template %></td>
    <td><%= mail_merge.body_template %></td>
    <td><%= link_to 'Show', mail_merge %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mail merge', new_mail_merge_path %>
